.todoListMain {
  padding: 10px;
  font-size: 16px;
  border: 4px solid #000;
  border-radius: 5px;
  background-color: white;
  width: 400px;
  min-height: 350px;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 165px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
}
.todoListMain .header button:focus {
  outline: 0;
}
.todoListMain .header button:hover {
  background-color: #808080;
  border: 2px solid #808080;
  cursor: pointer;
}

.todoListMain .header button:active {
  transform: scale(1.1);
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
  border: 2px black;
}
.todoListMain .theList li {
  color: #333;
  background-color: #808080;
  padding: 15px;
  margin-bottom: 15px;
  border: 2px black;
  border-radius: 5px;
  list-style: none;
}

.todoListMain .theList li:hover {
  color: #333;
  transform: scale(1.05);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.theList {
  padding: 0;
}
